[Unit]
Description=RadMan
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/radman
ExecStart=/bin/bash -c '/usr/bin/java $(/bin/cat /etc/default/radman 2> /dev/null) -Dspring.config.location=file:/etc/radman/radman.properties -jar /opt/radman/RadMan.jar'
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
