# http port
server.port=8089

# radius database
database.radius.datasource.url=jdbc:mysql://[server-address-here]:3306/[db-name-here]?serverTimezone=UTC&autoReconnect=true
database.radius.datasource.username=[db-user-here]
database.radius.datasource.password=[db-password-here]
database.radius.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
database.radius.jpa.hibernate.dialect=org.hibernate.dialect.MySQL5Dialect
database.radius.jpa.show-sql=false
database.radius.jpa.hibernate.ddl-auto=validate

# internal database
database.radman.datasource.url=jdbc:mysql://[server-address-here]:3306/[db-name-here]?serverTimezone=UTC&autoReconnect=true
database.radman.datasource.username=[db-user-here]
database.radman.datasource.password=[db-password-here]
database.radman.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
database.radman.jpa.hibernate.dialect=org.hibernate.dialect.MySQL5Dialect
database.radman.jpa.show-sql=false
database.radman.jpa.hibernate.ddl-auto=validate

# liquibase
database.radman.liquibase.enabled=true
database.radman.liquibase.change-log=classpath:db/changelog/mysql/db.changelog-master.xml
database.radman.liquibase.check-change-log-location=true

# ldap
ldap.enabled=false
ldap.urls=ldap://[server-address-here]:389/
ldap.managerDn=[dn-for-manager-account-here]
ldap.managerPassword=[password-for-manager-account-here]
ldap.search-base-dn=[base-search-dn-here]
ldap.user-search-filter=(uid={0})

# logging
logging.file=/var/log/radman
logging.level.root=WARN
logging.level.org.springframework.boot=INFO
logging.level.software.netcore.radman=INFO

# component settings
vaadin.productionMode=true
spring.jpa.open-in-view=false
